body {
	display: grid;
	place-items: center;
	height: 100vh;
	background-color: black;
	color: white;
}

.whiteMode {
	background-color: white;
	color: black;
}

.darkMode {
	background-color: black;
	color: white;
}